@use '../abstracts/' as *;

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    background-color: $dark-primary;
    grid-template-rows: 5em auto 4em;
}