@use "../abstracts" as *;

.header {
    width: 100vw;
    background-color: transparent;
    grid-area: header;

    &__nav {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    &__button {
        background-color: transparent;
        border-radius: 10px;
        transition: 100ms;
        border: 1px solid transparent;
        font-size: 1em;
        font-weight: 500;
        padding: 0.1rem 0.2rem;
        transition: 0.2s;
        width: 10ch;

        &:hover {
            color: $accent;
        }
    }
}