@use "../abstracts/" as *;

body {
    // background: linear-gradient(45deg, $dark-primary 0%, $light-primary 100%);
    background: $dark-primary;
}

.signin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        width: 100%;
    }

    &__input_container {
        width: 100%;
        position: relative;
    }

    &__input_label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8em;
    }

    &__input {
        width: 100%;
        background: none;
        border-bottom: 2px solid $light-primary;
        transition: .5s;
        padding: 1rem 0rem 0.5rem 0rem;
        margin-top: 1rem;

        &:focus {
            border-color: $accent;
        }
    }

    &__button {
        width: 60vw;
        max-width: 250px;
        height: 3.5rem;
        background: rgba($color: $light-primary, $alpha: 0.5);
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 0 20px rgba($color: black, $alpha: 0.2);
        color: white;
    }

    &__subcontainer {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-self: flex-start;
    }

    &__link {
        transition: .5s;
        white-space: pre-line;
        line-height: 2em;

        &:hover {
            color: $accent;
        }
    }
}