@use "../abstracts/" as *;

.side_menu {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: $light-primary;
    top: 0;
    left: 0;
    padding: 1.2rem;
    transform: translateX(100%);

    &__title_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 2em;
        font-weight: 600;
    }

    &__close_icon {
        font-size: 2em;
        cursor: pointer;
        transition: .2s;

        &:active {
            color: $accent;
        }
    }

    &__list {
        list-style: none;
        margin-top: 1rem;
    }

    &__item {
        padding: 1rem 0;
        transition: .2s;

        &:active {
            color: $accent;
        }
    }
}

@keyframes slide_open {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide_close {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}