@keyframes slide_open {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide_close {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}